.introduction {
	color: #666666;
	font-size: 1.125em;
	margin-bottom: 1em;
}

.inline-block-middle {
	display: inline-block;
	vertical-align: middle;
}

.first {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.top {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.text-align--left { text-align: left; }
.text-align--right { text-align: right; }

.float--left { float: left; }
.float--right { float: right; }

.float--right--stacked {
	float: right !important;
	margin: 0 0 20px 36px;
}

img {
	&.left {
		float: left;
		margin: 0 1.5em 1.5em 0;
		padding: 0;
	}
	&.right {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}
}
.hidden {
	display: none;
}

.text-align--center,
.center {
	text-align: center;
	@include breakpoint(large) {
		> img {
			max-width: 100%;
			height: auto;
		}
	}
}
.overflow-hidden {
	overflow: hidden;
}

.visibility-hidden {
	visibility: hidden;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.image-wrap {
	border: 1px solid #CCC;
	padding: 5px;
}

.border-bottom--thick {
	border-bottom: 10px solid;
}
.border-color--blue {
	border-color: $blue;
}

.replaced {
	display: block;
	text-align: left;
	text-indent: -9999px;
}

.required {
	color: red;
}
.color--white { color: white; }
.color--green { color: $green; }
.color--blue { color: $blue; }

.position--relative,
.posr,
.por {
	position: relative;
}
.posa-left {
	position: absolute;
	top: 0;
	left: 0;
}
.posa-right {
	position: absolute;
	top: 0;
	right: 0;
}
.circle {
	border-radius: 1000px;
}
.max-width--120px {
	max-width: 120px !important;
	height: auto !important;
}
.responsive-image {
	&,
	img {
		max-width: 100%;
		display: block;
		margin: auto;
		height: auto;
	}
}
.trailing-link a,
.kicker {
	text-transform: uppercase;
	font-size: 0.875em;
}
.kicker > a,
.kicker {
	color: $green;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.trailing-link {
	margin-bottom: 2em;
	a,
	span {
		font-weight: 600;
	}
	span {
		color: $green;
		margin-left: 3em;
		&:first-child {
			margin-left: 0;
		}
		&:after {
			content: " ›";
		}
	}
	@include breakpoint(small) {
		span {
			display: block;
			margin: auto;
			line-height: 2;
		}
	}
}

//------------------------------------------------------------------------------
// Backgrounds
//------------------------------------------------------------------------------
.background--blue,
.bg-blue {
	background-color: $blue;
}
.bg-less-dark-blue {
	background-color: $less-dark-blue;
}
.bg-dark-blue {
	background-color: $dark-blue;
}
.bg-dark-dark-blue {
  background-color: $dark-dark-blue;
}
.bg-valprop {
	background: #065273 url(/_media/valprop_bg_pattern.png) 0 0 repeat;
}
.bg-valprop--oktane {
	background: url(/_media/homepage--oktane14-bg.jpg) center no-repeat;
	background-size: cover;
}
.fill-white,
.fill-white * {
	fill: #FFFFFF;
	stroke: #FFFFFF;
}
.fill-cccccc {
	fill: #cccccc;
	stroke: #cccccc;
}
.bg-light-light-gray {
	background-color: $light-light-gray;
}
.bg-light-blue {
	background-color: $light-blue;
}
.bg-light-blue-clouds {
	background: url(/_media/bg-light-blue-clouds.png) center center no-repeat;
	background-size: contain;
}

//------------------------------------------------------------------------------
// Color
//------------------------------------------------------------------------------
.color-white {
	p:not(.kicker),
	h1,
	h2,
	.trailing-link a {
		color: white;
	}
}
.color-light-blue {
	p:not(.kicker) {
		color: $light-light-blue;
	}
}
.color--blue { color: $blue; }
.color--gray { color: $gray; }
.color--gray-blue { color: $gray-blue; }
.color--666 { color: #666666; }
//------------------------------------------------------------------------------
// Font Size
//------------------------------------------------------------------------------
.font-size--large {
	font-size: 2.25em;
	line-height: 1.3;
	@include breakpoint(small) {
		font-size: 1.625em;
	}
}
.font-size--medium {
	font-size: 1.250em;
	line-height: 1.1;
}
.font-size--huge {
	font-size: 7.5em;
	letter-spacing: -3px;
	font-weight: bold;
	line-height: 0.95;
	sup {
		font-size: 0.55em;
	}
	@include breakpoint(small) {
		font-size: 4.5em;
	}
}
.font-size--normal {
	font-size: 1.0rem !important;
}
.font-size--small {
	font-size: 0.875rem !important;
}
//------------------------------------------------------------------------------
// Font Weight
//------------------------------------------------------------------------------
.strong {
	font-weight: bold;
}

//------------------------------------------------------------------------------
// Absolute Centered
//------------------------------------------------------------------------------
.absolute-centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
//------------------------------------------------------------------------------
// LINK-PARENT LINK-CHILD
//------------------------------------------------------------------------------
.link-parent {
	display: block;
	.link-child > p,
	.link-child > .p,
	.link-child {
		color: $blue;
	}
	&:active,
	&:hover {
		&,
		* {
			text-decoration: none;
		}
		.link-child {
			text-decoration: underline;
		}
	}
}
//------------------------------------------------------------------------------
// Icon Before
//------------------------------------------------------------------------------
.icon-before {
	&:before {
		content: "";
		display: inline-block;
		height: 24px;
		width: 24px;
		vertical-align: text-bottom;
		margin-right: 0.5em;
	}
}
.icon-before--clock:before {
	background: url(/_media/clock.svg) 0 0 no-repeat;
}
//------------------------------------------------------------------------------
// Promo Box
//------------------------------------------------------------------------------
.promo-box {
	padding: 7%;
	div img {
		max-width: 55%;
		height: auto;
	}
	h3 {
		color: $blue;
		font-size: 1.875em;
		font-weight: 600;
		line-height: 1.2;
		text-transform: none;
		margin-bottom: 0.25em;
	}
	p {
		margin: 0.5em 0 0;
		line-height: 1.2;
	}
	// &.promo-box--magic-quadrant .inner {
		// margin-top: -1em;
	// }
	&.promo-box--oktane14 {
		background: url(/_media/promo-box--oktane14-bg.jpg) 0 0 no-repeat;
		background-size: cover;
		img {
			max-width: 30%;
			width: 30%;
			margin-top: -1.5em;
		}
		p{
			margin: 0;
			&.color--gray{
				font-size: 1em;
			}
			&.color--white{
				color: #FFF;
			}
		}
		a.button{
			margin-top: 10px;
		}
	}
	&.promo-box--webinar{
		h3{
			font-size: 1.675em;
			margin-bottom: 0.5em;
		}
		h4{
			margin-top: -20px;
			margin-bottom: 0;
		}
		img{
			margin-top: 25px;
		}

	}
	&.promo-box--press{
		h3{
			font-size: 1.5em;
			margin-bottom: 0.5em;
			color: white;
		}
		h4{
			margin-top: -20px;
			margin-bottom: 0;
		}
		img{
			margin: 10px 0 10px 0;
		}

	}
	@include breakpoint(xl){
		&.promo-box--oktane14{
			img {
				max-width: 30%;
				width: 30%;
				margin-top: -1.5em;
			}
			p.color--gray{
				display: none;

			}
		}
		&.promo-box--webinar{
			h3{
				font-size: 1.5em;
			}
			img{
				display: none;
			}

		}
		&.promo-box--press{
			h3{
				font-size: 1.4em;
			}
			img{
				width: 75%;
			}
		}
	}@include breakpoint(large){
		&.promo-box--oktane14{
			img {
				max-width: 20%;
				width: 20%;
				margin-top: -1.5em;
			}
			p.color--gray{
				display: none;

			}
		}
		&.promo-box--webinar{
			h3{
				font-size: 1.4em;
			}

		}
		&.promo-box--press{
			h3{
				font-size: 1.1em;
			}
			img{
				width: 30%;
			}
		}
	}
	@include breakpoint(medium-large) {
		h3 {
			font-size: 1.5em;
		}
		&.promo-box--magic-quadrant .introduction {
			margin-top: 0;
		}
		&.promo-box--okta-secure .inner {
			margin-top: -1em;
		}
		&.promo-box--webinar{
			h3{
				font-size: 1.3em;
			}
			p{
				font-size: 1.0em;
			}

		}
	}
	@include breakpoint(medium) {
		h3 {
			font-size: 1.875em;
		}
		&.promo-box--magic-quadrant .introduction {
			margin-top: 0.5em;
		}
		&.promo-box--okta-secure .inner {
			margin-top: 0.625em;
		}
		&.promo-box--webinar{
			h3{
				font-size: 1.5em;
			}
			img{
				display: block;
				margin: 20px auto 0;
			}

		}
		&.promo-box--press{
			h3{
				font-size: 1.5em;
			}
			img{
				width: 100%;
			}

		}
		&.promo-box--oktane14 {
			img {
				max-width: 25%;
				width: 25%;
			}
			p{

				&.color--gray{
					display: block;
					font-size: .8em;
				}

			}

		}
	}
	@include breakpoint(small) {
		&.promo-box--okta-secure .inner {
			margin-top: 0;
		}
		&.promo-box--webinar{
			p{
				font-size: 1.2em;
			}

		}
	}
}
.promo-box--wrapper {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	&.bg-gartner-reports {
		background-image: url(/_media/gartner-reports-bg.png);
		background-size: 70% auto;
		background-position: 50% 110%;
		@include breakpoint(breakpoint-xl) {
			background-position: 50% 120%;
		}
		@include breakpoint(large) {
			background-position: 50% 130%;
		}
		@include breakpoint(medium) {
			background-position: 50% 100%;
		}
		@include breakpoint(small) {
			background-position: 50% 110%;
		}
	}
}

//------------------------------------------------------------------------------
// Valprop Oktane Banner Badge
//------------------------------------------------------------------------------
.oktane-promo-badge{
	position: absolute;
	top: 30px;
	right: 120px;
	width: 170px;
	@include breakpoint(breakpoint-xl) {
		top: 30px;
		right: 60px;
		width: 170px;
	}
	@include breakpoint(large) {
		top: 30px;
		right: 20px;
		width: 170px;
	}
	@include breakpoint(medium-large) {
		top: 30px;
		right: 20px;
		width: 150px;
	}
	@include breakpoint(medium) {
		display: none;
	}


}

//------------------------------------------------------------------------------
// Banner Oktane Banner Badge
//------------------------------------------------------------------------------
.bg-valprop--oktane {
	.site-container {
		h1, h2 {
			line-height: normal;
		}
		h1 {
			font-size: 36px;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 0px
		}
		.kicker-oktane {
			font-size: 36px;
			color: #df7025;
			font-weight: 500;
			margin-top: 20px;
			margin-bottom: 0px;
		}
		.subhead {
			font-size: 18px;
			color: #cccccc;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		@include breakpoint(breakpoint-xl) {
			.kicker-oktane {
				font-size: 30px;
			}
			h1 {
				font-size: 30px;
			}

		}
		@include breakpoint(large) {
			.kicker-oktane {
				font-size: 28px;
			}
			h1 {
				font-size: 28px;
			}
			.subhead {
				font-size: 14px;
			}
		}
		@include breakpoint(medium-large) {
			.kicker-oktane {
				font-size: 24px;
			}
			h1 {
				font-size: 24px;
			}

		}

	}
}
//------------------------------------------------------------------------------
// Ghost Align
//------------------------------------------------------------------------------

// Center vertically in container
.ghost-align:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.ghost-align--item {
	margin-left: -4px;
	display: inline-block;
	vertical-align: middle;
}

//------------------------------------------------------------------------------
// Popup
//------------------------------------------------------------------------------
.popup {
	z-index: -1;
	top: -1000px;
	opacity: 0;

	transition: z-index 0s 0s, top 0s 0.15s, opacity 0.15s;
	position: absolute;
	left: 0;
	right: 0;
	// min-width: 270px;
	background: black;
	background: rgba(black,0.85);
	border-radius: 4px;
	.popup-inner {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -12px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 10px solid black;
			border-bottom: 10px solid rgba(black,0.85);
			pointer-events: none;
		}
		&:hover {
			display: none;
		}
	}
	h3 {
		font-size: 18px;
		text-transform: none;
		color: white;
		font-weight: bold;
		margin-bottom: 10px;
		line-height: 1;
	}
	ul,
	li {
		margin: 0;
		padding: 0;
		line-height: 1.2;
	}
	li {
		list-style-type: disc;
		margin: 0 0 10px 15px;
	}
	li ul {
		margin-left: 0;
	}
	li,
	.p {
		font-weight: normal;
		color: #cccccc;
		text-transform: none;
		font-size: 1.0rem;
	}
}
.popup-inner {
	padding: 20px 8%;
}
.popup-right {
	right: 100%;
	left: auto;
	-ms-transform: translate3d(0,-50%,0);
	-moz-transform: translate3d(0,-50%,0);
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	transition: z-index 0s 0s, top 0s, left 0s 0s, right 0s 0s, opacity 0.15s;
	margin-right: 12px;
	.popup-inner {
		white-space: nowrap;
		padding: 0.5em 1em;
		&:before {
			content: "";
			position: absolute;
			left: 100%;
			top: 50%;
			margin-top: -10px;
			margin-left: 0;
			border-left: 12px solid black;
			border-right: 12px solid transparent;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			pointer-events: none;
		}
	}
}
.popup-clean {
	background: rgba(white,0.95);
	border: 1px solid #cccccc;
	padding: 0.4em 1em;
	border-radius: 0;
	margin-right: 0;
	.popup-inner {
		color: #666666;
		font-size: 0.85rem;
		padding: 0;
		&:before {
			content: none;
		}
	}
}
.popup-trigger {
	cursor: pointer;
	position: relative;
	&.active,
	.no-touch &:hover {
		.popup {
			z-index: 20;
			top: 115%;
			opacity: 1;
			transition: z-index 0s 0s, top 0s, opacity 0.15s;
		}
		.popup-right {
			top: 50%;
			transition: z-index 0s 0s, top 0s, left 0s 0s, right 0s 0s, opacity 0.15s;
		}
	}
	&:nth-child(3) .popup { // temporary
		// display: block !important;
	}
}
//------------------------------------------------------------------------------
// Fallbacks
//------------------------------------------------------------------------------
.fallback {
	display: none;
}
.no-csstransitions .csstransitions-area {
	display: none;
	+ .fallback {
		display: block;
	}
}

//------------------------------------------------------------------------------
// Overrides
//------------------------------------------------------------------------------
.no-margin {
	margin: 0 !important;
}
.no-padding,
.no-pad {
	padding: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}

.no-border {
	border: none;
}
[rel="main"] li.no-bullet,
li.no-bullet {
	list-style-type: none;
	background: none;
}

.margin-bottom--0,
.no-margin-bottom,
.no-bottom-margin {
	margin-bottom: 0;
}
.margin-bottom--2x {
	margin-bottom: 2em;
}
.margin-bottom--3x {
	margin-bottom: 3em;
}
.margin-bottom--4x {
	margin-bottom: 4em;
}
.padding-bottom--8x {
	padding-bottom: 8em;
}.margin-bottom--1-5x {
	margin-bottom: 1.5em;
}
