# composer
vendor/*

# Config files
mantis_offline.php

# Docbook builds
docbook/*/*/builddate
docbook/*/*/build
docbook/*/*/install
docbook/*/tmp
!docbook/Admin_Guide/*/config

# Build output
build/

# Untracked plugins
plugins/*
!plugins/MantisCoreFormatting
!plugins/MantisGraph
!plugins/XmlImportExport

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings
.idea/
*.kdev4
nbproject/

# IIS7
web.config
!library/securimage/web.config

#libraries
library/jpgraph
library/FirePHPCore