$colorGrey: #777;
$colorGreyDark: #333;
$colorGreyLight: #e7e7e7;
$colorGreyLighter: #f8f8f8;

$colorGreen: #06482f;
$colorGreenLight: #368745;
$colorGreenLighter: mix($colorGreenLight, $colorGreyLighter, 50%);