.bug-note {
	background: mix($colorSecondaryLight, $colorSecondaryLighter, 30%);
	padding: 10px;
	position: relative;
	
	+ .bug-note {
		border-top: 1px solid #fff;
	}
	
	&:nth-child(2n+1) {
		background: $colorSecondaryLight;
	}
	
	dropdown-menu {
		float: right;
		margin: 0 0 10px 10px;
	}
}

.avatar {
	border-radius: 60px;
	height: 60px !important;
	margin: 0;
	width: 60px !important;
}