/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

dropdown-menu {
  position: relative;
  z-index: 100; }
  dropdown-menu[open] {
    z-index: 101; }
    dropdown-menu[open]::shadow #menu {
      opacity: 1;
      transform: scale(1); }
  dropdown-menu::shadow #toggle {
    cursor: pointer;
    padding-bottom: 6px;
    transform-origin: 0 0; }
    dropdown-menu::shadow #toggle::shadow path {
      fill: #777;
      transition: 0.2s all; }
    dropdown-menu::shadow #toggle::shadow svg:hover path {
      fill: #f76144; }
  dropdown-menu::shadow #menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 36px, rgba(0, 0, 0, 0.15) 0 6px 12px;
    background: #fff;
    padding: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    transform: scale(0);
    transform-origin: 92% 0;
    transition: 0.2s all;
    width: auto; }
    dropdown-menu::shadow #menu:before {
      border: solid transparent;
      border-bottom-color: #777;
      border-width: 0 6px 6px;
      content: "";
      display: block;
      position: absolute;
      right: 7px;
      top: -6px; }

dropdown-menu::shadow h3,
html /deep/ dropdown-menu::shadow h3 {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  background: #777;
  color: #fff;
  margin: 0;
  padding: 6px 30px 6px 10px;
  white-space: nowrap; }
  dropdown-menu::shadow h3 svg-element,
  html /deep/ dropdown-menu::shadow h3 svg-element {
    cursor: pointer; }
    dropdown-menu::shadow h3 svg-element::shadow path,
    html /deep/ dropdown-menu::shadow h3 svg-element::shadow path {
      fill: #fff; }
dropdown-menu::shadow a,
html /deep/ dropdown-menu::shadow a {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #333;
  cursor: pointer;
  display: block;
  padding: 6px 30px 6px 10px;
  text-decoration: none;
  transition: 0.2s all;
  white-space: nowrap; }
  dropdown-menu::shadow a:active, dropdown-menu::shadow a:focus, dropdown-menu::shadow a:hover,
  html /deep/ dropdown-menu::shadow a:active,
  html /deep/ dropdown-menu::shadow a:focus,
  html /deep/ dropdown-menu::shadow a:hover {
    background: #f76144;
    color: #fff; }
    dropdown-menu::shadow a:active svg-element::shadow path, dropdown-menu::shadow a:focus svg-element::shadow path, dropdown-menu::shadow a:hover svg-element::shadow path,
    html /deep/ dropdown-menu::shadow a:active svg-element::shadow path,
    html /deep/ dropdown-menu::shadow a:focus svg-element::shadow path,
    html /deep/ dropdown-menu::shadow a:hover svg-element::shadow path {
      fill: #fff; }
dropdown-menu::shadow svg-element,
html /deep/ dropdown-menu::shadow svg-element {
  height: 16px;
  margin-right: 4px;
  width: 16px;
  transition: 0.2s all;
  vertical-align: middle; }
  dropdown-menu::shadow svg-element::shadow path,
  html /deep/ dropdown-menu::shadow svg-element::shadow path {
    fill: #333; }

svg-element,
html /deep/ svg-element {
  display: inline-block;
  position: relative; }
  svg-element::shadow svg,
  html /deep/ svg-element::shadow svg {
    display: block;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
    width: auto !important; }

section-nav::shadow nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px; }
  section-nav::shadow nav:after {
    content: "";
    display: table;
    clear: both; }
section-nav::shadow ul {
  list-style: none;
  margin: 0;
  padding: 0; }
section-nav::shadow li {
  float: left; }
  section-nav::shadow li + li {
    margin-left: 20px; }
section-nav::shadow a {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  border-bottom: 2px solid transparent;
  color: #777;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  text-decoration: none;
  white-space: nowrap; }
  section-nav::shadow a:active, section-nav::shadow a:focus, section-nav::shadow a:hover {
    color: #333; }
  section-nav::shadow a.active {
    border-bottom-color: #f72f08;
    color: #333; }

form {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  overflow: auto;
  position: relative;
  zoom: 1; }

input[type=text], input[type=password], input[type=email], input[type=search], select, textarea {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px, rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  height: 32px;
  padding: 5px;
  transition: 0.2s all; }
  input[type=text]:focus, input[type=text]:hover, input[type=password]:focus, input[type=password]:hover, input[type=email]:focus, input[type=email]:hover, input[type=search]:focus, input[type=search]:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    border-color: #777;
    outline: none; }
  input[type=text][disabled], input[type=password][disabled], input[type=email][disabled], input[type=search][disabled], select[disabled], textarea[disabled] {
    opacity: .6; }
    input[type=text][disabled]:hover, input[type=password][disabled]:hover, input[type=email][disabled]:hover, input[type=search][disabled]:hover, select[disabled]:hover, textarea[disabled]:hover {
      border-color: #c3c3c3; }

.form-style--standard .field-container, .form-style--standard .control-group {
  overflow: hidden;
  zoom: 1; }
  .form-style--standard .field-container + .field-container, .form-style--standard .field-container + .control-group, .form-style--standard .control-group + .field-container, .form-style--standard .control-group + .control-group {
    border-top: 1px solid #fff; }
  .form-style--standard .field-container:nth-child(2n) .field-label, .form-style--standard .field-container:nth-child(2n) .control-label, .form-style--standard .control-group:nth-child(2n) .field-label, .form-style--standard .control-group:nth-child(2n) .control-label {
    background: #f7b1a4; }
  .form-style--standard .field-container:nth-child(2n) .field-input, .form-style--standard .field-container:nth-child(2n) .controls, .form-style--standard .control-group:nth-child(2n) .field-input, .form-style--standard .control-group:nth-child(2n) .controls {
    background: #f7e8e6; }
  .form-style--standard .field-container .field-submit, .form-style--standard .field-container .form-actions, .form-style--standard .control-group .field-submit, .form-style--standard .control-group .form-actions {
    float: right;
    padding: 0; }
.form-style--standard .field-label, .form-style--standard .control-label {
  background: #f7c5bc;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  color: #f73913;
  float: left;
  font-weight: 600;
  margin-bottom: -989px;
  padding: 10px 20px 999px 20px;
  text-align: right;
  width: 320px; }
.form-style--standard .field-input, .form-style--standard .controls {
  background: #f7f2f2;
  margin-left: 320px;
  padding: 10px 20px; }
  .form-style--standard .field-input input[type=text], .form-style--standard .field-input input[type=password], .form-style--standard .field-input input[type=email], .form-style--standard .field-input input[type=search], .form-style--standard .controls input[type=text], .form-style--standard .controls input[type=password], .form-style--standard .controls input[type=email], .form-style--standard .controls input[type=search] {
    max-width: 400px;
    width: 100%; }
  .form-style--standard .field-input select, .form-style--standard .controls select {
    width: auto; }
  .form-style--standard .field-input textarea, .form-style--standard .controls textarea {
    height: 150px;
    max-width: 600px; }
  .form-style--standard .field-input span, .form-style--standard .controls span {
    margin: 0 5px; }
  .form-style--standard .field-input ul, .form-style--standard .controls ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .form-style--standard .field-input ul li + li, .form-style--standard .controls ul li + li {
      margin-top: 10px; }
  .form-style--standard .field-input table, .form-style--standard .controls table {
    border-bottom: 1px solid #f79380;
    max-width: 600px;
    width: 100%; }
    .form-style--standard .field-input table td, .form-style--standard .controls table td {
      height: 20px;
      line-height: 20px;
      padding: 5px;
      text-align: center; }
      .form-style--standard .field-input table td:first-child, .form-style--standard .controls table td:first-child {
        text-align: left; }
      .form-style--standard .field-input table td:last-child, .form-style--standard .controls table td:last-child {
        text-align: right; }
  .form-style--standard .field-input thead td, .form-style--standard .controls thead td {
    border-bottom: 1px solid #f79380;
    color: #f72f08;
    font-weight: 600; }
  .form-style--standard .field-input tbody td:first-child, .form-style--standard .controls tbody td:first-child {
    font-weight: 600; }
  .form-style--standard .field-input tbody tr:nth-child(2n+1) td, .form-style--standard .controls tbody tr:nth-child(2n+1) td {
    background: rgba(255, 255, 255, 0.5); }
.form-style--standard .field-submit, .form-style--standard .form-actions {
  height: 40px;
  line-height: 40px;
  padding-top: 10px;
  text-align: right; }
.form-style--standard .button, .form-style--standard .form-actions input[type=submit] {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px, rgba(0, 0, 0, 0.15) 0 1px 2px;
  background: #f72f08;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.2s all; }
  .form-style--standard .button:active, .form-style--standard .button:focus, .form-style--standard .button:hover, .form-style--standard .form-actions input[type=submit]:active, .form-style--standard .form-actions input[type=submit]:focus, .form-style--standard .form-actions input[type=submit]:hover {
    background: #f76144; }
  .form-style--standard .button:active, .form-style--standard .form-actions input[type=submit]:active {
    transform: scale(0.95); }
.form-style--standard .access-level, .form-style--standard .view-state {
  padding-left: 10px; }

.form-style--fill-width input[type=text], .form-style--fill-width input[type=password], .form-style--fill-width input[type=email], .form-style--fill-width input[type=search], .form-style--fill-width select, .form-style--fill-width textarea {
  width: 100%; }

.notice {
  background: #f4f2e6;
  border: 1px solid #e5e0bd;
  border-radius: 3px;
  color: #4b4622;
  font-weight: 600;
  padding: 10px; }

a {
  color: #009cff;
  text-decoration: none;
  transition: 0.2s color; }
  a:active, a:focus, a:hover {
    color: #7ccafb; }

h1, h2, h3, h4, h5, h6 {
  color: #777;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-weight: 600;
  margin: 40px 0 10px; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

h1 {
  font-size: 26px;
  line-height: 34px; }

h2 {
  font-size: 24px;
  line-height: 32px; }

h3 {
  font-size: 22px;
  line-height: 30px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 18px;
  line-height: 26px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

strong {
  font-weight: 600; }

p, ul, ol {
  margin: 20px 0; }

html {
  background: #fff; }

body {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

p {
  margin: 20px 0; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

.hide {
  display: none !important; }

.error {
  background: #ffd4d9;
  border: 1px solid #e97a87;
  font-weight: 600;
  color: #460910;
  border-radius: 3px;
  padding: 10px; }

#head {
  color: #333;
  font-family: "Avenir Next", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding: 10px 0;
  position: relative; }
  #head h1 {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0; }
    #head h1 img {
      display: block;
      height: 40px; }
  #head form {
    float: left;
    padding: 4px 20px; }
    #head form input[type=search] {
      display: block;
      width: 300px; }
  #head nav {
    float: right; }
  #head ul {
    list-style: none;
    margin: 0;
    padding-top: 4px; }
  #head li {
    float: left;
    margin-left: 10px; }
  #head a {
    border: 1px solid transparent;
    color: #333;
    display: block;
    font-weight: 600;
    text-decoration: none;
    height: 32px;
    line-height: 30px;
    padding: 0 4px;
    transition: 0.2s all; }
    #head a:active, #head a:focus, #head a:hover {
      color: #f72f08; }
    #head a i {
      display: inline-block;
      font-size: 22px;
      vertical-align: middle; }
  #head .avatar {
    border-radius: 14px;
    float: left;
    height: 26px;
    margin-right: 8px;
    position: relative;
    top: 7px; }

.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }

#content {
  padding: 40px 0; }
  #content section + section {
    margin-top: 40px; }

.page-with-sidebar #content .wrap .section-sidebar {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  margin-right: 0;
  float: right; }
  .page-with-sidebar #content .wrap .section-sidebar:last-child {
    margin-right: 0; }
  .page-with-sidebar #content .wrap .section-sidebar aside + aside {
    margin-top: 40px; }
.page-with-sidebar #content .wrap .section-content {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%; }
  .page-with-sidebar #content .wrap .section-content:last-child {
    margin-right: 0; }

.page-title, .section-title {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 30px; }
  .page-title h2, .page-title h4, .section-title h2, .section-title h4 {
    margin: 0; }

.page-title nav {
  float: right;
  line-height: 33px; }
  .page-title nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .page-title nav li {
    float: left;
    height: 33px;
    padding: 0 20px; }
    .page-title nav li + li {
      border-left: 1px solid #d2d2d2; }
    .page-title nav li.active {
      background: #d2d2d2; }
      .page-title nav li.active a, .page-title nav li.active a:active, .page-title nav li.active a:focus, .page-title nav li.active a:hover {
        color: #333;
        font-weight: 600; }
    .page-title nav li.active, .page-title nav li.active + li {
      border-left: 0; }
  .page-title nav a {
    color: #777; }
    .page-title nav a:active, .page-title nav a:focus, .page-title nav a:hover {
      color: #333; }
.page-title .tools {
  float: right; }
  .page-title .tools > * {
    float: left; }
    .page-title .tools > * + * {
      margin-left: 10px; }
.page-title .notify ::shadow svg {
  cursor: pointer; }
.page-title .notify ::shadow path {
  fill: #777;
  transition: 0.2s all; }
.page-title .notify:focus, .page-title .notify:hover ::shadow path {
  fill: #f76144; }
.page-title dropdown-menu {
  height: 33px;
  width: 26px; }

.tabular-data {
  border: 1px solid #ddd;
  border-radius: 3px; }
  .tabular-data .row {
    display: flex;
    flex-direction: row;
    overflow: hidden; }
    .tabular-data .row + .row {
      border-top: 1px solid #ddd; }
    .tabular-data .row > .cell {
      padding: 8px; }
    .tabular-data .row > .ticket-id {
      background: #f8f8f8; }
    .tabular-data .row > .ticket-project {
      width: 140px; }
    .tabular-data .row:before {
      background: #1cadf1;
      box-sizing: content-box;
      color: #fff;
      display: block;
      content: "NP";
      display: block;
      font-weight: 500;
      padding: 8px 0;
      text-align: center;
      width: 2.5em; }
    .tabular-data .row.tag-priority:before {
      background: #fc581e;
      content: "P"; }
    .tabular-data .row.tag-closed {
      background: #f8f8f8;
      color: #aaaaaa; }
      .tabular-data .row.tag-closed:before {
        background: #ccc;
        content: "C"; }
      .tabular-data .row.tag-closed:active, .tabular-data .row.tag-closed:focus, .tabular-data .row.tag-closed:hover {
        color: #777; }
      .tabular-data .row.tag-closed .ticket-id {
        background: #f2f2f2; }
  .tabular-data a.row, .tabular-data a.cell {
    color: inherit; }
    .tabular-data a.row:active, .tabular-data a.row:focus, .tabular-data a.row:hover, .tabular-data a.cell:active, .tabular-data a.cell:focus, .tabular-data a.cell:hover {
      color: #f72f08; }

#floor .wrap {
  border-top: 1px solid #ddd;
  padding-bottom: 30px;
  padding-top: 30px; }
#floor hr {
  display: none; }
