.bug-note {
  background: #efefef;
  padding: 10px;
  position: relative; }
  .bug-note + .bug-note {
    border-top: 1px solid #fff; }
  .bug-note:nth-child(2n+1) {
    background: #ddd; }
  .bug-note dropdown-menu {
    float: right;
    margin: 0 0 10px 10px; }

.avatar {
  border-radius: 60px;
  height: 60px !important;
  margin: 0;
  width: 60px !important; }

h2 span {
  background: #f7b1a4;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding: 4px;
  vertical-align: middle; }

summary {
  font-size: 16px;
  line-height: 16px;
  outline: none; }
  summary::-webkit-details-marker {
    color: #777; }

details, section, aside {
  margin: 30px 0; }
  details:first-child, section:first-child, aside:first-child {
    margin-top: 0; }
  details:last-child, section:last-child, aside:last-child {
    margin-bottom: 0; }

.main:after {
  content: "";
  display: table;
  clear: both; }

.main-sidebar {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-left: 1px solid #d2d2d2;
  float: right;
  padding-left: 30px;
  width: 350px; }

.main-body {
  margin-right: 380px; }
  .main-body details {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px, rgba(0, 0, 0, 0.15) 0 1px 2px;
    background: #fff; }
    .main-body details summary {
      padding: 10px; }
    .main-body details [class*=column-] {
      border-right: 1px solid #fff; }
      .main-body details [class*=column-]:last-child {
        border-right: 0; }
    .main-body details .field-submit {
      padding: 10px; }

.row {
  background: #efefef;
  overflow: hidden; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row + .row {
    border-top: 1px solid #fff; }
  .row .column-1-4 {
    float: left;
    width: 25%; }
  .row .column-1-2 {
    float: left;
    width: 50%; }
  .row .column-3-4 {
    float: left;
    width: 75%; }

#ticket_description {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px, rgba(0, 0, 0, 0.15) 0 1px 2px;
  background: #fff;
  padding: 20px; }

#ticket-details [class*=column-] {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  #ticket-details [class*=column-]:nth-child(2n+1) {
    background: #ddd;
    margin-bottom: -999px;
    padding-bottom: 999px; }
  #ticket-details [class*=column-] > div {
    padding: 5px 10px; }
    #ticket-details [class*=column-] > div + div {
      border-top: 1px solid #fff; }
    #ticket-details [class*=column-] > div:nth-child(2n) {
      background: rgba(0, 0, 0, 0.05); }
