dropdown-menu {
	position: relative;
	z-index: 100;
	
	&[open] {
		z-index: 101;
		
		&::shadow #menu {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	&::shadow {
	
		#toggle {
			cursor: pointer;
			padding-bottom: 6px;
			transform-origin: 0 0;
			
			&::shadow {
				path {
					fill: $colorSecondary;
					transition: 0.2s all;
				}
					
				svg:hover path {
					fill: $colorPrimaryLight;
				}
			}
		}
		
		#menu {
			@include materialObjectShadow(12);
			
			background: #fff;
			padding: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			text-align: left;
			top: 100%;
			transform: scale(0);
			transform-origin: 92% 0;
			transition: 0.2s all;
			width: auto;
			
			&:before {
				border: solid transparent;
				border-bottom-color: $colorSecondary;
				border-width: 0 6px 6px;
				content: "";
				display: block;
				position: absolute;
				right: 7px;
				top: -6px;
			}
		}
	}
}

dropdown-menu::shadow,
html /deep/ dropdown-menu::shadow {
	h3 {
		@include baseFontSettings();
		
		background: $colorSecondary;
		color: #fff;
		margin: 0;
		padding: 6px 30px 6px 10px;
		white-space: nowrap;
		
		svg-element
		{
			cursor: pointer;
			
			&::shadow path {
				fill: #fff;
			}
		}
	}
	
	a {
		@include baseFontSettings();
		
		color: $colorSecondaryDark;
		cursor: pointer;
		display: block;
		padding: 6px 30px 6px 10px;
		text-decoration: none;
		transition: 0.2s all;
		white-space: nowrap;
		
		&:active, &:focus, &:hover {
			background: $colorPrimaryLight;
			color: #fff;
			
			svg-element::shadow path {
				fill: #fff;
			}
		}
	}
	
	svg-element {
		height: 16px;
		margin-right: 4px;
		width: 16px;
		transition: 0.2s all;
		vertical-align: middle;
		
		&::shadow path {
			fill: $colorSecondaryDark;
		}
	}
}