form {
	@include uiFontSettings();
	
	display: block;
	overflow: auto;
	position: relative;
	zoom: 1;
}

input[type=text], input[type=password], input[type=email], input[type=search], select, textarea {
	@include uiFontSettings();
	@include insetMaterialObjectShadow(2);
	
	border: 1px solid mix($colorSecondary, $colorSecondaryLight, 25%);
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-block;
	height: $lineHeightUI + 10;
	padding: 5px;
	transition: 0.3s all;
	
	&:focus, &:hover {
		border-color: $colorSecondary;
		outline: none;
	}
	
	&[disabled] {
		opacity: .6;
		
		&:hover {
			border-color: mix($colorSecondary, $colorSecondaryLight, 25%);
		}
	}
}

.form-style--standard {
	.field-container, .control-group {
		overflow: hidden;
		zoom: 1;
		
		+ .field-container, + .control-group {
			border-top: 1px solid #fff;
		}
		
		&:nth-child(2n) {
			.field-label, .control-label {
				background: mix($colorPrimaryLighter, $colorSecondaryLighter, 70%);
			}
			
			.field-input, .controls {
				background: mix($colorPrimaryLighter, $colorSecondaryLighter, 15%);
			}
		}
		
		.field-submit, .form-actions {
			float: right;
			padding: 0;
		}
	}
	
	.field-label, .control-label {
		background: mix($colorPrimaryLighter, $colorSecondaryLighter, 50%);
		border-right: 1px solid #fff;
		box-sizing: border-box;
		color: mix($colorPrimary, $colorPrimaryLighter, 90%);
		float: left;
		font-weight: 600;
		margin-bottom: -989px;
		padding: 10px 20px 999px 20px;
		text-align: right;
		width: 320px;
	}
	
	.field-input, .controls {
		background: mix($colorPrimaryLighter, $colorSecondaryLighter, 5%);
		margin-left: 320px;
		padding: 10px 20px;
		
		input[type=text], input[type=password], input[type=email], input[type=search] {
			max-width: 400px;
			width: 100%;
		}
		
		select {
			width: auto;
		}
		
		textarea {
			height: 150px;
			max-width: 600px;
		}
		
		span {
			margin: 0 5px;
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li + li {
				margin-top: 10px;
			}
		}
		
		table {
			border-bottom: 1px solid $colorPrimaryLighter;
			max-width: 600px;
			width: 100%;
			
			td {
				height: 20px;
				line-height: 20px;
				padding: 5px;
				text-align: center;
				
				&:first-child {
					text-align: left;
				}
				
				&:last-child {
					text-align: right;
				}
			}
		}
		
		thead {
			td {
				border-bottom: 1px solid $colorPrimaryLighter;
				color: $colorPrimary;
				font-weight: 600;
			}
		}
		
		tbody {
			td {
				&:first-child {
					font-weight: 600;
				}
			}
			
			tr:nth-child(2n+1) td {
				background: rgba(255, 255, 255, .5);
			}
		}
	}
	
	.field-submit, .form-actions { 
		height: 40px;
		line-height: 40px;
		padding-top: 10px;
		text-align: right;
	}
	
	.button, .form-actions input[type=submit] {
		@include materialObjectShadow(2);
		
		background: $colorPrimary;
		border: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		height: 40px;
		line-height: 40px;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		transition: 0.3s all;
		
		&:active, &:focus, &:hover {
			background: $colorPrimaryLight;
		}
		
		&:active {
			transform: scale((38px / 40px));
		}
	}
	
	.access-level, .view-state {
		padding-left: 10px;
	}
}

.form-style--fill-width {
	input[type=text], input[type=password], input[type=email], input[type=search], select, textarea {
		width: 100%;
	}
}