a {
	color: $colorTertiary;
	text-decoration: none;
	transition: 0.3s color;
	
	&:active, &:focus, &:hover {
		color: $colorTertiaryLight;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include headerFontSettings();
	margin: 40px 0 10px;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 28px;
	line-height: 36px;
}

h2 {
	font-size: 26px;
	line-height: 33px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-size: 22px;
	line-height: 27px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
}

h6 {
	font-size: 18px;
	line-height: 21px;
}

strong {
	font-weight: 600;
}

p, ul, ol {
	margin: 20px 0;
}