a {
	color: $colorTertiary;
	text-decoration: none;
	transition: 0.2s color;
	
	&:active, &:focus, &:hover {
		color: $colorTertiaryLight;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include headerFontSettings();
	margin: 40px 0 10px;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: $fontSize + 12;
	line-height: $lineHeight + 12;
}

h2 {
	font-size: $fontSize + 10;
	line-height: $lineHeight + 10;
}

h3 {
	font-size: $fontSize + 8;
	line-height: $lineHeight + 8;
}

h4 {
	font-size: $fontSize + 6;
	line-height: $lineHeight + 6;
}

h5 {
	font-size: $fontSize + 4;
	line-height: $lineHeight + 4;
}

h6 {
	font-size: $fontSize + 2;
	line-height: $lineHeight + 2;
}

strong {
	font-weight: 600;
}

p, ul, ol {
	margin: 20px 0;
}