$colorSecondary: #777;
$colorSecondaryDark: #333;
$colorSecondaryLight: #ddd;
$colorSecondaryLighter: #f8f8f8;

$colorPrimary: #f72f08;
$colorPrimaryLight: mix($colorPrimary, $colorSecondaryLighter, 75%);
$colorPrimaryLighter: mix($colorPrimary, $colorSecondaryLighter, 50%);

$colorTertiary: #009cff;
$colorTertiaryLight: mix($colorTertiary, $colorSecondaryLighter, 50%);

$fontColor: $colorSecondaryDark;
$fontColorHeader: $colorSecondary;
$fontColorUI: $colorSecondaryDark;

$fontFamily: "Avenir Next", Helvetica, Verdana, sans-serif;
$fontFamilyHeader: "Avenir Next", Helvetica, Verdana, sans-serif;
$fontFamilyUI: "Avenir Next", Helvetica, Verdana, sans-serif;

$fontSize: 14px;
$fontSizeUI: 14px;

$fontWeight: 400;
$fontWeightHeader: 600;
$fontWeightUI: 400;

$lineHeight: 22px;
$lineHeightUI: 22px;

$pageWidth: 1200px;