@import "bourbon", "neat";

@import "variables";
@import "mixins";
@import "reset";
@import "web_components/_dropdown_menu";
@import "web_components/_svg_element";
@import "web_components/_section_nav";
@import "forms";
@import "notices";
@import "typography";


html {
	background: #fff;
}

body {
	@include baseFontSettings();
}

p {
	margin: 20px 0;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

.hide {
	display: none !important;
}

.error {
	background: #ffd4d9;
	border: 1px solid #e97a87;
	font-weight: 600;
	color: #460910;
	border-radius: 3px;
	padding: 10px;
}



#head {
	$height: 40px;
	
	@include uiFontSettings();
	
	background: $colorSecondaryLighter;
	border-bottom: 1px solid $colorSecondaryLight;
	box-sizing: content-box;
	height: $height;
	line-height: $height;
	overflow: hidden;
	padding: 10px 0;
	position: relative;
	
	h1 {
		float: left;
		height: $height;
		line-height: $height;
		margin: 0;
		
		img {
			display: block;
			height: $height;
		}
	}
	
	form {
		float: left;
		padding: (($height - $lineHeightUI - 10) / 2) 20px;
		
		input[type=search] {
			display: block;
			width: 300px;
		}
	}
	
	nav {
		float: right;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding-top: ($height - 32) / 2;
	}
	
	li {
		float: left;
		margin-left: 10px;
	}
	
	a {
		border: 1px solid transparent;
		color: $colorSecondaryDark;
		display: block;
		font-weight: 600;
		text-decoration: none;
		height: 32px;
		line-height: 30px;
		padding: 0 4px;
		transition: 0.2s all;
		
		&:active, &:focus, &:hover {
			color: $colorPrimary;
		}
		
		i {
			display: inline-block;
			font-size: $lineHeightUI;
			vertical-align: middle;
		}
	}
}

.wrap {
	@include outer-container($pageWidth);
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px;
}
	
.avatar {
	border-radius: 30px;
	height: 60px;
	position: relative;
}

#content {
	padding: 40px 0;
	
	section + section {
		margin-top: 40px;
	}
}

.page-with-sidebar #content .wrap {
	.section-sidebar {
		@include span-columns(3);
		@include omega;
		float: right;
		
		aside {
			+ aside {
				margin-top: 40px;
			}
		}
	}
	
	.section-content {
		@include span-columns(9);
	}
}

.page-title, .section-title {
	border-bottom: 1px solid mix($colorSecondary, $colorSecondaryLight, 10%);
	margin-bottom: 30px;
	
	h2, h4 {
		margin: 0;
	}
}

.page-title {
	nav {
		float: right;
		line-height: 33px;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		li {
			float: left;
			height: 33px;
			padding: 0 20px;
			
			+ li {
				border-left: 1px solid mix($colorSecondary, $colorSecondaryLight, 10%);
			}
			
			&.active {
				background: mix($colorSecondary, $colorSecondaryLight, 10%);
				
				a, a:active, a:focus, a:hover {
					color: $colorSecondaryDark;
					font-weight: 600;
				}
			}
			
			&.active, &.active + li {
				border-left: 0;
			}
		}
		
		a {
			color: $colorSecondary;
			
			&:active, &:focus, &:hover {
				color: $colorSecondaryDark;
			}
		}
	}
	
	.tools {
		float: right;
		
		> * {
			float: left;
			
			+ * {
				margin-left: 10px;
			}
		}
	}
	
	.notify {
	
		::shadow svg {
			cursor: pointer;
			
		}
		::shadow path {
			fill: $colorSecondary;
			transition: 0.2s all;
		}
		
		&:focus, &:hover ::shadow path {
			fill: $colorPrimaryLight;
		}
	}
	
	dropdown-menu {
		height: 33px;
		width: 26px;
	}
}

.main-body {
	
}

.user-list {
	@include clearfix;
	
	> a {
		color: $colorSecondary;
		float: left;
		line-height: 1em;
		margin-bottom: 20px;
		text-align: center;
		width: 25%;
		
		&:nth-child(4n+1) {
			clear: both;
		}
	}
}

.tabular-data {
	border: 1px solid $colorSecondaryLight;
	border-radius: 3px;
	
	.row {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		
		+ .row {
			border-top: 1px solid $colorSecondaryLight;
		}
		
		> .cell {
			padding: 8px;
		}
		
		> .ticket-id {
			background: $colorSecondaryLighter;
		}
		
		> .ticket-project {
			width: 140px;
		}
		
		&:before {
			background: #1cadf1;
			box-sizing: content-box;
			color: #fff;
			display: block;
			content: "NP";
			display: block;
			font-weight: 500;
			padding: 8px 0;
			text-align: center;
			width: 2.5em;
		}
		
		&.tag-priority:before {
			background: #fc581e;
			content: "P";
		}
		
		&.tag-closed {
			background: $colorSecondaryLighter;
			color: mix($colorSecondary, $colorSecondaryLight, 50%);
			
			&:before {
				background: #ccc;
				content: "C";
			}
			
			&:active, &:focus, &:hover {
				color: $colorSecondary;
			}
			
			.ticket-id {
				background: mix($colorSecondaryLighter, $colorSecondaryLight, 80%);
			}
		}
	}
	
	a.row, a.cell {
		color: inherit;
		
		&:active, &:focus, &:hover {
			color: $colorPrimary;
		}
	}
}

#floor {
	.wrap {
		border-top: 1px solid $colorSecondaryLight;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	
	hr {
		display: none;
	}
}